<!doctype html>
<html>
    <head>
        <title>Фотоальбом</title>
    </head>
<body>
    <h1>Фотоальбом</h1>
    <ul>
        {% for album in albums %}
            <li><a href="{{ album.page_name }}">{{ album.name }}</a></li>
        {% endfor %}
    </ul>
</body>
